bread-types-webhook.json
{
  "name": "Bread Types Webhook",
  "nodes": [
    {
      "parameters": {
        "formTitle": "👨‍🍳 Poručite hleb iz naše porodične pekare",
        "formDescription": "Dobrodošli u našu malu pekarsku radionicu!\nMolimo vas da unesete osnovne podatke da bismo mogli da pripremimo vaš svež, mirisan hleb baš na vreme. 👨‍🍳✨",
        "formFields": {
          "values": [
            {
              "fieldLabel": "👤 Ime i prezime",
              "requiredField": true
            },
            {
              "fieldLabel": "☎️ Broj telefona",
              "requiredField": true
            },
            {
              "fieldLabel": "📧 Email adresa",
              "fieldType": "email"
            },
            {
              "fieldLabel": "🥖 Vrsta hleba",
              "fieldType": "dropdown",
              "defaultValue": "Classic 🥯",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Classic 🥯"
                  },
                  {
                    "option": "Special 🍞"
                  }
                ]
              }
            },
            {
              "fieldLabel": "⚖️ Količina",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1488,
        112
      ],
      "id": "8c60986c-f69c-429b-ab92-f03c2450b321",
      "name": "On form submission",
      "webhookId": "ddd80787-f12f-49b7-89d5-d5e57a326167",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "534842390",
        "text": "=🥖 **Nova porudžbina hleba!**\n\n👤 Ime i prezime: {{ $json['👤 Ime i prezime'] }}\n☎️ Broj telefona: {{ $json['☎️ Broj telefona'] }}\n📧 Email adresa: {{ $json['📧 Email adresa'] }}\n🥖 Vrsta hleba: {{ $json['🥖 Vrsta hleba'] }}\n⚖️ Količina: {{ $json['⚖️ Količina'] }}\n\n🕒 Porudžbina primljena: {{ $json.formattedDate }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -544,
        160
      ],
      "id": "ef631ff6-9721-4d46-9599-3713ae1f4e8a",
      "name": "Send a text message",
      "webhookId": "26cec7ee-33fa-4bf4-b0b6-8523a54a29a1",
      "credentials": {
        "telegramApi": {
          "id": "tOGPjhPFxpGf3Sj4",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Pretpostavimo da ulaz dolazi iz forme\nconst submittedAt = new Date($json['submittedAt']);\n\n// Formatiramo datum: DD.MM.YYYY HH:mm\nconst day = String(submittedAt.getDate()).padStart(2, '0');\nconst month = String(submittedAt.getMonth() + 1).padStart(2, '0'); // meseci od 0\nconst year = submittedAt.getFullYear();\n\nconst hours = String(submittedAt.getHours()).padStart(2, '0');\nconst minutes = String(submittedAt.getMinutes()).padStart(2, '0');\n\nreturn {\n  json: {\n    ...$json,\n    formattedDate: `${day}.${month}.${year}. ${hours}:${minutes}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        224
      ],
      "id": "8fef750f-51b9-4761-9ab6-bfa3b619857b",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "path": "bread-types",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5bb84e16-638c-4aa4-abfb-687fafb35f4a",
      "name": "Webhook - Bread Types",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1344,
        480
      ],
      "webhookId": "bread-types"
    },
    {
      "parameters": {
        "jsCode": "// Return bread types data\nreturn [\n  {\n    json: {\n      data: [\n      { id: \"white_500\", name: \"White bread 500g\", price: 120 },\n      { id: \"rye_700\", name: \"Rye bread 700g\", price: 180 },\n      { id: \"whole_wheat_500\", name: \"Whole wheat bread 500g\", price: 140 },\n      { id: \"multigrain_700\", name: \"Multigrain bread 700g\", price: 200 },\n      { id: \"sourdough_500\", name: \"Sourdough bread 500g\", price: 160 }\n    ]}\n  }\n];"
      },
      "id": "68942f45-ff77-49c4-90cf-4abbf8e9d9f2",
      "name": "Code - Bread Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ff82feec-85b5-497a-88ee-a6627d7d5403",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -352,
        448
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Bread Types": {
      "main": [
        [
          {
            "node": "Code - Bread Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Bread Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5edaab4-a9f4-405f-91f7-53201507ba7e",
  "meta": {
    "instanceId": "32046c7d7105c211e2259616606f883c8b5cc71035b30bdbb85dfac864d6105f"
  },
  "id": "cvDsWLrBjrUUBPnz",
  "tags": []
}